@import url('base.css');
@font-face {
    font-family: 'iconfont';  /* project id 573268 */
    src: url('https://at.alicdn.com/t/font_573268_s26c4lcr7b8adcxr.eot');
    src: url('https://at.alicdn.com/t/font_573268_s26c4lcr7b8adcxr.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_573268_s26c4lcr7b8adcxr.woff') format('woff'),
    url('https://at.alicdn.com/t/font_573268_s26c4lcr7b8adcxr.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_573268_s26c4lcr7b8adcxr.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont';
}
i{
    font-style: normal;
}
header{
    width: 100%;
    height: 1.48rem;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01rem solid #999;
}
.header-li{
    margin: 0.3rem 0.4rem 0;
}
.hdwenzi{
    margin-top: 0.5rem;
}
.iconh1{
    font-size: 0.8rem;
}
.fenlei{
    width: 100%;
    height: 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fenlei-li{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.iconfl1{
    font-size: 0.4rem;
    margin-left: 0.2rem;
}
.house-content{
    width: 100%;
    height: 9rem;
}
.house-list{
    width: 100%;
    height: 100%;
    margin-right: 0.4rem;
    position: relative;
}
.house-title{
    font-size: 0.7rem;
}
.house-right a{
    color: black;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.iconyou{
    margin-left:0.3rem;
    font-size: 0.5rem;
    line-height: 2rem;
}
.house-more{
    font-size: 0.45rem;
    line-height: 1.9rem;
}
/*.house-pic{*/
    /*width: 100%;*/
    /*height: 6.3rem;*/
    /*overflow: hidden;*/
    /*position: relative;*/
/*}*/
.house-pic img{
    width: 100%;
}
.jiage{
    width: 2.5rem;
    height: 1.2rem;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.8rem;
    position: absolute;
    left:0.4rem;
    bottom:2.7rem;
    z-index: 300;
}
.touxiang-pic{
    width: 1.2rem;
    height: 1.2rem;
    border: 0.1rem solid #fff;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    right:0.4rem;
    z-index: 999;
}
.touxiang-pic img{
    height: 100%;
}
.house-wenzi{
    margin-left: 0.3rem;
    position: relative;
}
.house-wenzi,.house-jieshao{
    margin-top: 0.2rem;
}
.house-name{
    margin-top: 0.4rem;
}
.house-guige,.xj-wenzi,.xj-right{
    margin-top: 0.2rem;
    font-size: 0.18rem;
    color: #666666;
}
.xingji{
    display: flex;
    justify-content: space-between;
}
.xj-left{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.iconxx1{
    margin-right: 0.2rem;
    color: #f7b724;
}
.xj-right{
    width: 1.7rem;
    height: 0.6rem;
    border: 0.01rem solid #1d9eaf;
    /*border-radius: 0.01rem;*/
    text-align: center;
    line-height: 0.6rem;
    color: #1d9eaf;
    margin-right: 0.5rem;
}
