@import url('base.css');
@font-face {
    font-family: 'iconfont';  /* project id 573268 */
    src: url('http://at.alicdn.com/t/font_573268_pwg9wd8sdc1pp66r.eot');
    src: url('http://at.alicdn.com/t/font_573268_pwg9wd8sdc1pp66r.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_573268_pwg9wd8sdc1pp66r.woff') format('woff'),
    url('http://at.alicdn.com/t/font_573268_pwg9wd8sdc1pp66r.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_573268_pwg9wd8sdc1pp66r.svg#iconfont') format('svg');
}
.iconfont{
    font-family: 'iconfont';
}
i{
    font-style: normal;
}
header{
    width: 100%;
    height: 1.48rem;
    background: #FFFFFF;
    text-align: center;
    line-height: 1.48rem;
    box-shadow:  0.1rem 0.1rem 1rem rgba(0,0,0,0.05);
}
.pic{
    width: 100%;
    height: 15rem;
    position: relative;
}
.pic img{
    width: 100%;
    height: 100%;
}
.text{
    width: 9.62rem;
    height: 5.55rem;
    background: rgba(255,255,255,0.7);
    position: absolute;
    bottom:1.7rem;
    left:0;
    right:0;
    margin:0 auto;
    border-radius: 0.2rem;
    text-align: center;
    padding:1rem 0.5rem;
    box-sizing: border-box;
    line-height: 1rem;
}
.iconh1{
    font-size: 1rem;
    color: #ff6764;
}
.btn{
    width: 100%;
    height: 1.3rem;
    background: #ff6764;
    margin-top: 0.3rem;
    line-height: 1.3rem;
    font-size: 0.6rem;
    color: #fff;
}
.table{
    width: 100%;
    height: 1.6rem;
    background: #fff;
    border-top: 0.01rem solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
}
.table-li{
    text-align: center;
}
.active .icontb,.active .table-wenzi{
    color: #fb6360;
}
.icontb{
    font-size: 0.6rem;
    color: #837c7a;
}
.table-wenzi{
    margin-top: 0.2rem;
    font-size: 0.3rem;
    color: #837c7a;
}